body{
    font-family: 'Alkalami', serif;
    background: rgb(19,25,33);
    color: white;
}
.header_div
{
    background: white;
    color: black;
}
.header_div p
{
    font-family: 'Ma Shan Zheng', cursive;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
}
.main_div button
{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer
{
    position: fixed;
    color: aquamarine;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(35,46,63);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px royalblue;
}